page-home {

  .jumbotron-wrapper {
    width: 100%;
    background-color: #000;
  }
  .homeSlide {
    width: 100%;
    height: 600px;
    margin: 0 auto 0;
  }
  .homeSlide_imgs {
    width: 100%;
    height: 200px;
  }
  .swiper-container {
    width: 100%;
    height: 300px;
  }
}
